body {
    padding: 0;
    margin: 0;
    background-color: #eceaea;
}

.header{
    display: flex;
    width: 100%;
    height: calc(97 / 1366 * 100vw);
}

.header__img {
    margin-left: 8%;
    width: calc(90 / 1368 * 100vw);
    height: calc(63 / 1368 * 100vw);
}

.img{
    width: 100%;
    height: 100%;
}

.header__links {
    margin-top: 2%;
    margin-left: 1%;
    width: calc(650 / 1368 * 100vw);
    height: calc(19 / 1368 * 100vw);
}

.header-links__item {
    margin-left: 4%;
    width: calc(97 / 1368 * 100vw);
    height: calc(19 / 1368 * 100vw);
    font-size: calc(16 / 1368 * 100vw);
}

a{
    text-decoration: none;
    color:black;
    font-weight: 500;

}

.header__buttons{
    display: flex;
    margin-top: 1%;
    margin-left: 2%;
}

.header-buttons__item{
    background-color:#EF7F04;
    align-items: center;
    border-radius: calc(3 / 1368 * 100vw);
    border: 0;
    font-size: calc(13 / 1368 * 100vw);
    margin-left: 2%;
    width: calc(169 / 1368 * 100vw);
    height: calc(40 / 1368 * 100vw);
    display: flex;
    align-items: center;
    justify-content: center;
    color:#ffff;
}

img {
    margin-right: 5%;
    margin-left: 2%;
}

.header-buttons__item_secondary{
    background-color:#3B3A63;
}

.header-buttons__image{
    width: calc(20 / 1368 * 100vw);
    height: calc(18 / 1368 * 100vw);
}

/* Стиль "Окна Хаус"*/

.content{
    background: url(./picture/Group\ 16.png) no-repeat;
    width: 100%;
    height: calc(562 / 1368 * 100vw);
    margin-top: 37%;
}

.window__title{
    display: flex;
    margin-top: -38%;
    margin-left: 10%;
    color:#EF7F04;
    font-size: calc(36 / 1368 * 100vw)
}

.window_paragraf{
    margin-top: 6%;
    margin-left: -11%;
    color: #FFFFFF;
    font-size: calc(36 / 1368 * 100vw)
}

.main__quality-haus{
    display: flex;
    gap: 100px;
    margin-left: 9%;
}

.quality__window-img{
    width: calc(92 / 1368 * 100vw);
    height: calc(79 / 1368 * 100vw);
}

.quality_window-paragraf{
    color: #FFFFFF;
    margin-left: 9%;
    width: calc(100 / 1368 * 100vw);
    font-size: calc(14 / 1368 * 100vw);
}

.quality__hand-img{
    width: calc(69 / 1368 * 100vw);
    height: calc(78 / 1368 * 100vw);
}

.quality__hand-paragraf{
    color: #FFFFFF;
    width: calc(100 / 1368 * 100vw);
    font-size: calc(14 / 1368 * 100vw);
}

.quality__service-img{
    width: calc(73 / 1368 * 100vw);
    height: calc(82 / 1368 * 100vw);
}

.quality__service-paragraf{
    color: #FFFFFF;
    margin-top: -12%;
    width: calc(100 / 1368 * 100vw);
    font-size: calc(14 / 1368 * 100vw);
}

.form{
    width: calc(406 / 1368 * 100vw);
    height: calc(428 / 1368 * 100vw);
    background-color:#ffffff;
    margin-left: 60%;
    margin-top: -25%;
    padding: 1px 50px 1px 30px;
    border-radius: calc(10 / 1368 * 100vw);
}

.form__title{
    font-weight: 700;
    font-size: calc(18 / 1368 * 100vw);
    color: #2F2F51;
    margin-bottom: 5%;
    text-align: center;
}

.img__lineika {
    margin-left: -25%;
    margin-top: -5%;
    width: calc(627 / 1368 * 100vw);
    height: calc(139 / 1368 * 100vw);
}

.input__introduce{
    width: calc(323 / 1368 * 100vw);
    height: calc(40 / 1368 * 100vw);
    margin-bottom: 3%;
    background: #E2E2E2;
    border-radius: calc(3 / 1368 * 100vw);
    border:none;
    padding: calc(5 / 1368 * 100vw);
    margin-left: 10%;
}

.input__introduce::placeholder{
    color: #424268;
}

.form__input-checkbox{
    width: calc(287 / 1368 * 100vw);
    height: calc(48 / 1368 * 100vw);
    margin-left: 10%;
}

.form__text{
    width: calc(288 / 1368 * 100vw);
    height: calc(48 / 1368 * 100vw);
    font-size: calc(12 / 1368 * 100vw);
}

.check__box{
    width: calc(25 / 1368 * 100vw);
    height: calc(25 / 1368 * 100vw);
}

.form_submit{
    display: block;
    margin: 0 auto;
    margin-top: 7%;
    background-color: #EF7F04;
    border-radius: 3px;
    border: 0;
    width: calc(190 / 1368 * 100vw);
    height: calc(54 / 1368 * 100vw);
    color:#ffff;
    font-size: calc(14 / 1368 * 100vw);
}



/* Стиль "Наши услуги"*/


.main__services{
    margin-left: 43%;
    color:#2F2F51;
    margin-top: 7%;
}

.main__countainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 20px 50px;
}

.main__container-picture{
    width:calc(595 / 1366 * 100vw);
    height:calc(268 / 1366 * 100vw);
    position: relative;
    border-radius: 3px;
}

.main__container-picture-img{
    display: block;
    width: 100%;
    height: 100%;
}

.main__windows{
    display: inline-flex;
    position: absolute;
    margin-top: 4%;
    margin-left: 4%;
}

.main__balcony{
    display: inline-flex;
    position: absolute;
    margin-left: 51%;
    margin-top: 4%;
}

.main__cottage{
    display: inline-flex;
    position: absolute;
    margin-top: 24%;
    margin-left: 4%;
}

.main__corporate{
    display: inline-flex;
    position: absolute;
    margin-top: 24%;
    margin-left: 51%;
}

.main__windows-paragraf{
    display: inline-flex;
    position: absolute;
    margin-top: 1%;
    margin-left: -23%;
    color:#2F2F51;
    font-weight: 600;

}

.main__balcony-paragraf{
    display: inline-flex;
    position: absolute;
    margin-top: 24%;
    color:#2F2F51;
    font-weight: 600;
}

.main__cottage-paragraf{
    display: inline-flex;
    position: absolute;
    margin-top: 27%;
    color:#2F2F51;
    font-weight: 600;
}

.main__corporate-paragraf{
    display: inline-flex;
    position: absolute;
    margin-top: 20%;
    color:#2F2F51;
    font-weight: 600;
}

.main__windows-title{
    margin-left: 5%;
    color:#2F2F51;
    font-weight:bolder;
    
}

.main__balcony-title{
    margin-left: 5%;
    color:#2F2F51;
    font-weight:bolder;
}

.main__cottage-title{
    margin-left: 5%;
    color:#2F2F51;
    font-weight:bolder;
}

.main__corporate-title{
    margin-left: 5%;
    color:#2F2F51;
    font-weight:bolder;
}

/* Стиль "О компании"*/

.main__header-kompani{
    margin-top: 5%;
    margin-left: 45%;
    color:#2F2F51;
}

.main__pictures{
    position: relative;
    display: inline-flex;
}

.main__links{
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-left: 32%;
    margin-top: 4%;
    color:#2F2F51;
}

.main__pictures{
    margin-top: 4%;
}

.main__background{
    margin-left: 3%;
    position: relative;
}

.main__window-house{
    display: inline-flex;
    position: absolute;
    margin-left: 15%;
    margin-top: 5%;
}

.main__men-window{
    display: inline-flex;
    position: absolute;
    margin-left: 57%;
}

.main__text{
    display: inline-flex;
    position: absolute;
    margin-top: 20%;
    white-space: pre-line;
    margin-left: 31%;
}

.main__quality{
    display: flex;
    gap: 140px;
    flex-wrap: wrap;
    padding: 20px 50px;
    margin-left: 13%;
    margin-top: 5%;
}

.main__professionalism-title {
    margin-top: -53%;
    margin-left: 54%;
    color:#2F2F51;
    
}

.main__pricing-title{
    margin-top: -45%;
    margin-left: 54%;
    color:#2F2F51;
}

.main__mobility-title{
    margin-top: -50%;
    margin-left: 42%;
    color:#2F2F51;
}

.main__loyalty-title{
    margin-top: -45%;
    margin-left: 44%;
    color:#2F2F51;
}

.main__speed-title{
    margin-top: -44%;
    margin-left: 47%;
    color:#2F2F51;
}

.main__service-title{
    margin-top: -44%;
    margin-left: 37%;
    color:#2F2F51;
}

.main__professionalism-paragraf{
    margin-left: 54%;
    width: 200px;
}

.main__pricing-paragraf{
    margin-left: 54%;
    width: 240px;
}

.main__mobility-paragraf{
    margin-left: 42%;
    width: 240px;
}

.main__loyalty-paragraf{
    margin-left: 44%;
    width: 250px;
}

.main__speed-paragraf{
    margin-left: 46%;
    width: 250px;
}

.main__speed{
    margin-left: -4%;
}

.main__service{
    margin-left: -2%;
}

.main__service-paragraf{
    margin-left: 37%;
    width: 280px;
}

.button__request{
    background-color:#EF7F04;
    align-items: center;
    border-radius:  3px;
    border: 0;
    font-size: 13px;
    margin-left: 40%;
    margin-top: 6%;
    width: calc(312 / 1366 * 100vw);
    height: calc(54 / 1366 * 100vw);
    display: flex;
    align-items: center;
    justify-content: center;
    color:#ffff;
    font-weight:bolder;
    
}

/* ПОртфолио*/

.main__portfolio{
    display: flex;
    width: calc(1200/1360*100vw);
    height: calc(410/1360*100vw);
    background-color:#ffffff;
    margin-left: 5%;
    margin-top: 3%;
}

h5 {
    font-size: calc(24/1360 * 100vw);
    margin-left: 45%;
    color: #2F2F51;
}

.main__picture-window{
    width: calc(215/1360*100vw);
    height: calc(215/1360*100vw);
    margin-top: 10%;
    display: inline-flex;
    margin-left: -40%;
}


/* Вопрос- ответ*/

.main__question{
    background-color: #EF7F1A;
    width: calc(1200/1360*100vw);
    height: calc(910/1360*100vw);
    margin-left: 5%;
    display: flex;
}

.main__title-question {
    color: #FFFFFF;
    margin-left: 45%;
    font-size: 3rem;
    margin-top: -5%;
}

.select__quastion {
    width: 998px;
    height: 82px;
    margin-top: 11%;
    margin-left: -45%;
    color: #2F2F51;
}

.select__buy{
    width: 998px;
    height: 82px;
    margin-top: 20%;
    margin-left: -70%;
}

.select__sample{
    width: 998px;
    height: 82px;
    margin-top: 30%;
    margin-left: -70%;
}

.select__measurer{
    width: 998px;
    height: 82px;
    margin-top: 40%;
    margin-left: -70%;
}

.select__balcony{
    width: 998px;
    height: 82px;
    margin-top: 50%;
    margin-left: -63%;
}

.select__loader{
    width: 998px;
    height: 82px;
    margin-top: 60%;
    margin-left: -60%;
}



option{
    color: #EF7F04;
}


@media screen and (max-width:768px) {
    .header__buttons{
        margin-left: 30%;
    }

    .header-buttons__item{
        width: calc(110 / 768 * 100vw);
        height: calc(30 / 768 * 100vw);
    }

    .header__links{
        display: none;
    }

    .form{
        display: none;
    }
}